body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: #f0f0f0;
}
.container {
	background: white;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	width: 300px;
	text-align: center;
}
input[type='text'],
input[type='date'],
textarea,
select {
	width: calc(100% - 22px);
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	display: block;
	margin: 10px auto;
}
button {
	padding: 10px 20px;
	border: none;
	background: #5cb85c;
	color: white;
	cursor: pointer;
	border-radius: 4px;
}
ul {
	list-style: none;
	padding: 0;
}
li {
	padding: 10px;
	background: #fafafa;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
.task-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.task-header .toggle {
	cursor: pointer;
	margin-right: 10px;
}
.task-details {
	padding: 10px;
	background: #efefef;
	border-radius: 4px;
	margin-top: 10px;
}
.delete {
	cursor: pointer;
	color: red;
}
.delete i {
	font-size: 1.2em;
}
i {
	pointer-events: none; /* ensures clicking on icon doesn't affect other elements beneath */
}
